# Copyright (C) 2018 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the MIT license

networks:
  ssl-reverse-proxy:
    external: true

services:
  gentoo-ev-org:
    build: .
    ports:
      - 127.0.0.1:50180:80
    networks:
      - default
      - ssl-reverse-proxy
    volumes:
      - ./htdocs:/var/www/html/:ro
    restart: unless-stopped
