/* Custom configuration for Gentoo e.V. */

/* Colors */

.navbar-inverse {
  background-color: #54487a;
  background-image: none;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

a {
  color: #54487a;
}
