# Copyright (C) 2023 Sebastian Pipping <sebastian@pipping.org>
# SPDX-License-Identifier: MIT

name: Build

# Drop permissions to minimum for security
permissions:
  contents: read

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - name: Install dependencies
        run: |-
          sudo apt-get update
          sudo apt-get install --yes --no-install-recommends -V \
              docker-compose \
              wait-for-it \
              yq

      - name: Build Docker image
        run: |-
          docker-compose build

      - name: Smoke-test Docker image
        run: |-
          set -x

          docker network create --internal ssl-reverse-proxy
          docker-compose up -d

          # Get ports from docker-compose.yml. The value looks like
          # 127.0.0.1:50180:80 but we need only the first two components
          ip_and_port=$(yq -r \
                '.services[].ports[0] | split(":") | .[:2] | join(":")' \
                docker-compose.yml)
          wait-for-it "${ip_and_port}" -- \
                wget -O- "http://${ip_and_port}/" \
                | grep -qF gentoo-ev.org

          docker-compose down
          docker network rm ssl-reverse-proxy
